*{
 
    padding: 0px;
    margin: 0px;
}

  .logo-bg{
    width: auto; 
    justify-content: center; 
    text-align: center;
  
  }
  .logo-bg img{
      padding: 10px;
  }
 
  .section-width-bg{
    background: #000;
   
  }
  .product{
    border: 2px solid #bf2231;
 
    width: 500px; 
    height: 500px; 
    border-radius: 50px;
  }
  .product img{
      width: 100%;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
    height: auto; 
  }
  .product-img{
      padding-left: 0px;
      padding-right: 0px;
  }
  .product-title{
      color: white;
  }
  .btn-gradient {
    background: #bf2231;
    color: white;
    border-radius: 12px;
    padding: 12px 48px;
    box-shadow: 0 6px 30px -10px #bf2231;
    transition: all 0.5s ease;
    border: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .btn-gradient:hover {
    box-shadow: 0 0px 0px 0 #ffffff;
    transform: scale(0.930);
  }